<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forecasts</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
            color: #333333;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #e6e6e6;
        }
    </style>
    <script>
        function updateForecast(id, actualOrders) {
            fetch('/forecasts/' + id + '?actualOrders=' + actualOrders, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Дата прогноза</th>
        <th>Температура</th>
        <th>Курс рубля</th>
        <th>Праздничный коэфициент</th>
        <th>Зарплатный коэфициент</th>
        <th>Реальное число заказов</th>
        <th>Прогноз</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="forecast : ${forecasts}" th:id="${forecast.id}">
        <td th:text="${forecast.forecastDate}"></td>
        <td th:text="${forecast.temperature}"></td>
        <td th:text="${forecast.exchangeRate}"></td>
        <td th:text="${forecast.holidayCoefficient}"></td>
        <td th:text="${forecast.paydayCoefficient}"></td>
        <td contenteditable="true" th:text="${forecast.actualOrders}" class="editable"
            onblur="updateForecast(this.parentElement.getAttribute('id'), this.innerText)"></td>
        <td th:text="${forecast.predictedOrders}"></td>
    </tr>
    </tbody>
    <a class="btn" href="/">Вернуться</a>
</table>
</body>
</html>
